@page
@model MossTopia.Pages.LargeMarimoModel
@{
}
<div class="text-center">
    <h1 class="display-1">Stor Marimo, 9-10 cm</h1>
</div>
<body>
<br/>
<br/>
<br/>
<div class="text-center">
    <img class="img-fluid" src="/Images/StorMarimo.png" alt="Mountains" style ="max-width:100%" />
    <br/>
    <br/>
    <br/>
        <div class="jumbotron">
            <h3>Det får du:</h3>
            <p>• En stor Marimo på mellem 9-10 cm</p>
            <p>• Mulighed for at blive en del af the MossMovement</p>
            <p>• Et Adoptions certifikat for dit nye kæledyr.</p>
            <button type="button" class="btn btn-dark">Tilføj til kurv</button>

        </div>
    
</div>

</body>




