@page
@model MossTopia.Pages.MossSelectionModel
@{
} 

<div class ="text-center">
 <div class="container-fluid p-3 my-3 bg-dark text-white">
    <h2>Baby Mos 0,5 cm-2cm </h2>
 </div>
    <div class="row">
        <div class="column">
            <a class="nav-link" asp-page="/Images/Babymarimo.png">  <img class="img-fluid" src="/Images/Babymarimo.png" alt="Mountains" style="width: 239px; height: 195px;" /></a>
            <p>0,5-1 cm</p>
        </div>
        <div class="column">
            <a class="nav-link" asp-page="/Images/Babymarimo.png">  <img class="img-fluid" src="/Images/Babymarimo.png" alt="Mountains" style="width: 239px; height: 195px;" /></a>
            <p>1 cm-1,5 cm </p>
        </div>
        <div class="column">
            <a class="nav-link" asp-page="/Images/Babymarimo.png">  <img class="img-fluid" src="/Images/Babymarimo.png" alt="Mountains" style="width: 239px; height: 195px;" /></a>
            <p>1,5 cm-2 cm</p>
        </div>
    </div>
    
    
    <div class="container-fluid p-3 my-3 bg-dark text-white">
        <h2> Mos 2 cm-5cm </h2>
    </div>
    <div class="row">
        <div class="column">
            <a class="nav-link" asp-page="/Images/MellemMarimo.png">  <img class="img-fluid" src="/Images/MellemMarimo.png" alt="Mountains" style="width: 239px; height: 195px;" /></a>
            <p>2 cm-3 cm</p>
        </div>
        <div class="column">
            <a class="nav-link" asp-page="/Images/MellemMarimo.png">  <img class="img-fluid" src="/Images/MellemMarimo.png" alt="Mountains" style="width: 239px; height: 195px;" /></a>
            <p>3 cm-4 cm </p>
        </div>
        <div class="column">
            <a class="nav-link" asp-page="/Images/MellemMarimo.png">  <img class="img-fluid" src="/Images/MellemMarimo.png" alt="Mountains" style="width: 239px; height: 195px;" /></a>
            <p>4 cm-5 cm</p>
        </div>
    </div>
    
    
    <div class="container-fluid p-3 my-3 bg-dark text-white">
        <h2> Mos 5 cm-10cm </h2>
    </div>
    <div class="row">
        <div class="column">
            <a class="nav-link" asp-page="\LargeMarimo">   <img class="img-fluid" src="/Images/StorMarimo.png" alt="Forest" style="width: 230px; height: 195px;" /> </a>
            <p>5 cm-7 cm</p>
        </div>
        <div class="column">
            <a class="nav-link" asp-page="\LargeMarimo">   <img class="img-fluid"  src="/Images/StorMarimo.png" alt="Forest" style="width: 230px; height: 195px;" /> </a>
            <p>7 cm-9 cm </p>
        </div>
        <div class="column">
            <a class="nav-link" asp-page="\LargeMarimo">  <img class="img-fluid" src="/Images/StorMarimo.png" alt="Mountains" style="width: 230px; height: 195px;" /></a>
            <p>9 cm-10 cm</p>
        </div>
    </div>
</div>